<div class="row">
  <div class="col s12 m6 offset-m3">
    <p class="center-align"><%= t('confirmations.title') %></p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'devise-form' }) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions center-align">
        <%= f.submit t('confirmations.send_instructions'), class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= render "devise/shared/links" %>
  </div>
</div>
