<div id="comments">
  <section-title bordered><%= t('comments.index') %></section-title>

  <% target.comments.each do |comment| %>
    <comment
      :comment="<%= render 'components/comment.json.jbuilder', comment: comment %>"
      :can-edit="<%= current_user.id.equal?(comment.commenter.id) %>">
    </comment>
    <%= render "comments/deletion_modal", comment: comment %>
  <% end %>

  <%= render "comments/form", { target: target, comment: target.comments.build } %>
</div>
