<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/presentations/presentation_card' %>
<% end %>

<%= link_to group_presentation_path(current_group, presentation) do %>
  <div class="presentation-card">
    <p>
      <span class="day"><%= presentation.date_time.day %></span><span class="month"> / <%= l(presentation.date_time, format: "%b") %></span>
    </p>
    <p><span class="center-align icon"><i class="fa fa-clock-o"></i></span> <%= presentation.time %></p>
    <p><span class="center-align icon"><i class="fa fa-map-marker"></i></span> <%= presentation.local %></p>
  </div>
<% end %>
