<div class="col s12 m6 offset-m3 presentation_song_card">
  <div class="ps-index valign-wrapper">
    <b><%= ps.index %></b>
  </div>

  <div class="ps-info">
    <p class="ps-title">
      <b><%= ps.song.title %></b>

      <span class="tags">
        <% ps.song.tags.each do |tag| %>
          <tag :tag="<%= render template: 'songs/tag.json.jbuilder', locals: { tag: tag } %>"></tag>
        <% end %>
      </span>
    </p>

    <p class="ps-author">
      <%= ps.song.author %>
    </p>
  </div>

  <div class="ps-tone valign-wrapper">
    <b><%= ps.song.tone %></b>
  </div>
</div>
