<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/presentations/presentation_card' %>
<% end %>

<%= link_to group_presentation_path(current_group, presentation) do %>
  <div class="presentation_card">
    <p>
      <span class="center-align icon"><i class="fa fa-calendar"></i></span> <%= presentation.date %>
      <span class="right"><%= presentation.songs.size %> <i class="fa fa-music"></i></span>
      <% if presentation.comments.any? %>
        <span class="right"><%= presentation.comments.size %> <i class="fa fa-comments"></i></span>
      <% end %>
    </p>
    <p><span class="center-align icon"><i class="fa fa-clock-o"></i></span> <%= presentation.time %></p>
    <p><span class="center-align icon"><i class="fa fa-map-marker"></i></span> <%= presentation.local %></p>
  </div>
<% end %>
