<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/presentations/index' %>
<% end %>

<div class="row actions-menu">
  <%= render "search_form" %>
  <% if @presentations.any? %>
    <%= link_to new_group_presentation_path(current_group), class: 'btn-floating add-button' do %>
      <i class="material-icons">add</i>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% @presentations.each do |presentation| %>
      <div class="col s12 m4">
        <%= link_to group_presentation_path(current_group, presentation) do %>
          <presentation-card :presentation="<%= render "components/presentation_card.json.jbuilder", presentation: presentation %>" ></presentation-card>
        <% end %>
      </div>
  <% end %>

  <% if @presentations.empty? %>
    <div class="center-align">
      <p><%= "#{ t('presentations.no_presentations_in') } #{ t('date.month_names')[@month.to_i] }" %></p>

      <%= link_to new_group_presentation_path(current_group), class: 'btn-floating add-button' do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  <% end %>
</div>
