<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/presentations/show' %>
<% end %>

<div class="right-align">
  <%= link_to edit_group_presentation_path(current_group, @presentation), class: 'btn-floating horizontal-margin' do %>
    <i class="material-icons">edit</i>
  <% end %>
  <%= link_to play_presentation_path(@presentation), class: 'btn-floating' do %>
    <i class="material-icons">play_arrow</i>
  <% end %>
</div>

<div id="presentation_info" class="center-align">
  <div class="info">
    <i class="fa fa-calendar"></i><h5><%= @presentation.date %></h5>
  </div>
  <div class="separator hide-on-small-only"></div>
  <div class="info">
    <i class="fa fa-clock-o"></i><h5><%= @presentation.time %></h5>
  </div>
  <div class="separator hide-on-small-only"></div>
  <div class="info">
    <i class="fa fa-map-marker"></i><h5><%= @presentation.local %></h5>
  </div>
</div>

<div class="collection">
  <% @presentation.presentation_songs.each do |ps| %>
    <%= link_to group_song_path(current_group, ps.song), class: "collection-item" do %>
      <div>
        <span class="song-index"><%= ps.index %></span>
        <%= ps.song.title %>
        <span class="light-text"><small><%= "- #{ ps.song.author }" if ps.song.author.present? %></small></span>
      </div>
    <% end %>
  <% end %>
</div>

<div id="comments">
  <% @presentation.comments.each do |comment| %>
    <comment :show-options="<%= current_user.id.equal?(comment.commenter.id) %>">
      <div slot="showView">
        <%= render partial: "comments/show", locals: { comment: comment } %>
      </div>

      <div slot="form">
        <%= render partial: "comments/form", locals: { target: @presentation, comment: comment } %>
      </div>
    </comment>
  <% end %>
</div>

<%= render partial: "comments/form", locals: { target: @presentation, comment: @presentation.comments.build } %>
