<div class="right-align">
  <%= link_to t('groups.new'), new_group_path, class: 'btn' %>
</div>

<div class="nav-extended">
  <div class="nav-content">
    <ul class="tabs center-align vertical-margin">
      <li class="tab">
        <a href="#user_groups" class="active ">
          <span class="hide-on-small-only"><%= I18n.t('groups.user_groups') %></span>
          <i class="fa fa-users hide-on-med-and-up"></i>
        </a>
      </li>
      <li class="tab">
        <a href="#other_groups">
          <span class="hide-on-small-only"><%= I18n.t('groups.other_groups') %></span>
          <i class="fa fa-search hide-on-med-and-up"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="user_groups" class="row">
  <% current_user.groups.each do |group| %>
    <user-group :group="<%= render template: 'groups/show.json.jbuilder', locals: {group: group} %>"></user-group>
  <% end %>
</div>

<div id="other_groups" class="row">
  <% @groups.each do |group| %>
    <group :group="<%= render template: 'groups/show.json.jbuilder', locals: {group: group} %>"></group>
  <% end %>
</div>
