<div class="right-align">
  <%= link_to t('groups.new'), new_group_path, class: 'btn' %>
</div>

<groups title="<%= t('groups.user_groups') %>">
  <% current_user.groups.each do |group| %>
    <user-group :group="<%= render template: 'groups/show.json.jbuilder', locals: {group: group} %>"></user-group>
  <% end %>
</groups>

<groups title="<%= t('groups.other_groups') %>">
  <% @groups.each do |group| %>
    <group :group="<%= render template: 'groups/show.json.jbuilder', locals: {group: group} %>"></group>
  <% end %>
</groups>


