<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/groups/show' %>
<% end %>

<div id="group">
  <!--<% if @next_presentation %>
    <div id="next_presentation">
      <div class="section-title">Próxima apresentação</div>
      <group-presentation :presentation="<%= render 'components/group_presentation.json.jbuilder', presentation: @next_presentation %>"></group-presentation>
    </div>
  <% end %>-->

  <div id="members">
    <section-title><%= I18n.t('groups.members') %></section-title>
    <div class="collection">
      <% @group.members.each do |member| %>

        <member :member="<%= render 'components/member.json.jbuilder', member: member %>">
          <% if can_remove_member?(member) %>
            <button class="btn-floating-transparent" slot="delete_button" @click="showModal('#member_deletion_confirmation_modal_<%= member.id %>')">
              <i class="tiny material-icons">close</i>
            </button>
          <% end %>
        </member>

        <%= render "member_deletion_modal", member: member %>

      <% end %>
    </div>
  </div>
</div>


<candidates :group-id="<%= @group.id %>"></candidates>
