<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/groups/show' %>
<% end %>

<h3 class="center-align hide-on-small-only"><%= @group.name %></h3>
<h5 class="center-align hide-on-med-and-up"><%= @group.name %></h5>

<div class="row">
  <% @group.members.each do |member| %>
    <div class="col s12 m4">
      <user-card :user="<%= member.user.to_json %>">
        <% if current_user.is_admin_of(current_group) && current_user != member.user %>
          <button class="btn-floating-transparent" slot="delete_button" @click="showModal('#member_deletion_confirmation_modal_<%= member.id %>')">
            <i class="tiny material-icons">close</i>
          </button>
        <% end %>
      </user-card>
    </div>

    <%= render "member_deletion_modal", member: member %>
  <% end %>
</div>

<candidates :group-id="<%= @group.id %>"></candidates>
