<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'pages/groups/show' %>
<% end %>

<div class="center-align">
  <div>
    <h1 class="teste"><%= @group.name %></h1>
  </div>

  <%= image_tag @group.image.url, class: 'circle responsive-img' %>
</div>

<div>  
  <members groupid="<%= @group.id %>" :members="<%= render template: 'groups/members.json.jbuilder', locals: {members: @group.members} %>"></members>
</div>
