<div class="row">
  <div class="col s12 m6 offset-m3">

    <%= form_for [current_group, @song] do |f| %>
    <div class="input-field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="input-field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>

    <div class="input-field">
      <%= f.label :tone %>
      <%= f.text_field :tone %>
    </div>

    <div class="input-field">
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, { multiple: true }) %>
    </div>

    <div class="actions right-align">
      <%= link_to :back, class: 'btn white grey-text text-darken-3' do %>
        <i class="material-icons">chevron_left</i>
      <% end %>
      <% if song.persisted? %>
        <button class="btn white red-text text-darken-3 modal-trigger" data-target="deletion_confirmation_modal" type="button">
          <i class="material-icons">delete</i>
        </button>
      <% end %>
      <%= button_tag type: 'submit', class: 'btn' do %>
        <i class="material-icons">done</i>
      <% end %>
    </div>
    <% end %>
  </div>

  <% if song.persisted? %>
    <%= render partial: "songs/deletion_modal", locals: { song: song } %>
  <% end %>

</div>
