<% if presentation.present? %>
  <%= link_to group_presentation_path(current_group, presentation) do %>
    <div class="presentation-info card">
      <div>
        <p> <strong><%= title %></strong> </p>
        <p>
          <%= day_of_week(presentation) %>, <%= presentation_date(presentation) %> - <%= text %>
        </p>
      </div>
      <span>
        <i class="material-icons">chevron_right</i>
      </span>
    </div>
  <% end %>
<% end %>
