<%= form_tag group_songs_path(@group), remote: true, method: :get do %>
  <%= hidden_field_tag 'tags_ids', @tags_ids, id: 'tags_ids' %>
  <tags-filter :tags="<%= render template: 'songs/_tags.json.jbuilder', locals: { tags: @group.tags } %>"></tags-filter>

  <div class="input-field">
    <%= text_field_tag 'query', nil, placeholder: t('songs.search_by') %>
  </div>

  <div class="right-align">
    <%= button_tag type: 'submit', class: 'btn-floating vertical-margin' do %>
      <i class="material-icons">search</i>
    <% end %>
  </div>
<% end %>

