<div id="results">
  <% if @songs.any? %>
    <songs-list :songs="<%= render 'components/songs/songs_list.json.jbuilder', songs: @songs %>"></songs-list>
    <!--<ul class="collection">
      <% @songs.each do |song| %>
        <%= link_to group_song_path(current_group, song), class: "collection-item" do %>
          <div class="song">
            <%= song.title %>
          </div>
          <div class="author">
            <% if song.author.present? %>
              <span class="light-text"><small><%= song.author %></small></span>
            <% end %>
          </div>
          <div class="light-text tone"><%= song.tone %></div>
          <div class="tags">
            <% song.tags.each do |tag| %>
              <tag :tag="<%= render 'components/tag.json.jbuilder', tag: tag %>"></tag>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </ul>-->

    <!--<songs-list-paginator :page-count="<%= @page_count %>" :current-page="<%= @page %>"></songs-list-paginator>-->
  <% else %>
    <div class="center-align">
      <p><%= t('no_results') %></p>
    </div>
</div>
<% end %>
