<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/songs/index' %>
<% end %>

<div class="right-align">
  <%= link_to new_group_song_path(current_group), class: 'btn-floating' do %>
    <i class="material-icons">add</i>
  <% end %>
</div>

<div id="legend">
  <% get_tags_from_songs(@songs).each do |tag| %>
    <div class="tag-meaning">
      <tag :tag="<%= render template: 'songs/_tag.json.jbuilder', locals: { tag: tag } %>"></tag>
      <%= tag.name %>
    </div>
  <% end %>
</div>

<ul class="collection">
  <% @songs.each do |song| %>
    <%= link_to group_song_path(current_group, song), class: "collection-item" do %>
      <div>
        <%= song.title %>
        <span class="light-text secondary-content"><%= song.tone %></span>
        <div class="tags-container secondary-content">
          <% song.tags.each do |tag| %>
            <tag :tag="<%= render template: 'songs/_tag.json.jbuilder', locals: { tag: tag } %>"></tag>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
