<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/songs/index' %>
<% end %>

<% if @songs.any? %>
  <section-heading><%= I18n.t('songs.index') %></section-heading>
  <div class="right-align">
    <%= link_to new_group_song_path(current_group), class: 'btn-floating' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>

  <%#= render 'search_form' %>
  <songs-list :songs="<%= render 'components/songs/songs_list.json.jbuilder', songs: @songs %>"></songs-list>
<% else %>
  <div class="center-align">
    <p><%= t('no_songs') %></p>

    <%= link_to new_group_song_path(current_group), class: 'btn-floating' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
<% end %>
