<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/songs/show' %>
<% end %>

<div class="right-align">
  <%= link_to edit_group_song_path(current_group, @song), class: 'btn-floating' do %>
    <i class="material-icons">edit</i>
  <% end %>
</div>

<div id="title" class="center-align">
  <h4><%= @song.title %></h4>
  <p id="author"><%= @song.author %></p>
</div>

<div class="center-align vertical-margin">
  <div id="times_played">
    <i class="material-icons">play_arrow</i>
    <span>
      <%= @song.presentations.size %>
    </span>
  </div>
</div>

<div class="row" id="presentations">
  <div class="col s12 m6">
    <% if @last_presentation.present? %>
      <%= link_to group_presentation_path(current_group, @last_presentation) do %>
        <div class="card">
          <p class="card-title"><%= t('songs.last_presentation') %></p>
          <p><%= I18n.l(@last_presentation.date_time, format: "%A") %>, <%= I18n.l(@last_presentation.date_time, format: "%d/%m/%Y") %></p>
          <p><%= "#{ t('songs.time_ago_prefix') } #{ time_ago_in_words(@last_presentation.date_time) }" %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col s12 m6">
    <% if @next_presentation.present? %>
      <%= link_to group_presentation_path(current_group, @next_presentation) do %>
        <div class="card">
          <p class="card-title"><%= t('songs.next_presentation') %></p>
          <p><%= I18n.l(@next_presentation.date_time, format: "%A") %>, <%= I18n.l(@next_presentation.date_time, format: "%d/%m/%Y") %></p>
          <p><%= "#{ t('songs.from_now_prefix') } #{ distance_of_time_in_words(DateTime.now, @next_presentation.date_time) }" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="comments">
  <% @song.comments.each do |comment| %>
    <comment
      :comment="<%= render 'components/comment.json.jbuilder', comment: comment %>"
      :can-edit="<%= current_user.id.equal?(comment.commenter.id) %>">
    </comment>
  <% end %>
</div>

<%= render "comments/form", { target: @song, comment: @song.comments.build } %>
