<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'pages/songs/show' %>
<% end %>

<div class="right-align">
  <%= link_to edit_group_song_path(current_group, @song), class: 'btn-floating' do %>
    <i class="material-icons">edit</i>
  <% end %>
</div>

<div class="title">
  <%= @song.title %>
</div>

<p class="author"><%= @song.author %></p>

<div class="presentations">
  <% if @last_presentation %>
    <%= link_to group_presentation_path(current_group, @last_presentation) do %>
      <song-presentation
        title="<%= t('songs.show.last_presentation') %>"
        date="<%= presentation_date_with_day_of_week(@last_presentation) %>"
        time_distance="<%= past_presentation_time(@last_presentation) %>">
      </song-presentation>
    <% end %>
  <% end %>

  <% if @next_presentation %>
    <%= link_to group_presentation_path(current_group, @next_presentation) do %>
      <song-presentation
        title="<%= t('songs.show.next_presentation') %>"
        date="<%= presentation_date_with_day_of_week(@next_presentation) %>"
        time_distance="<%= time_until_presentation(@next_presentation) %>">
      </song-presentation>
    <% end %>
  <% end %>
</div>

<%= render "comments/comments", { target: @song } %>
