<%= form_for tag do |f| %>
  <div class="input-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="color-picker">
    <%= f.hidden_field :color_id %>
    <tag-color-picker default-color="<%= tag.color&.id %>"></tag-color-picker>
    <span class="error"><%= tag.errors[:color].first %></span>
  </div>

  <div class="actions right-align">
    <%= link_to :back, class: 'btn white grey-text text-darken-3' do %>
      <i class="material-icons">chevron_left</i>
    <% end %>
    <% if tag.persisted? %>
      <button class="btn white red-text text-darken-3 modal-trigger" data-target="deletion_confirmation_modal" type="button">
        <i class="material-icons">delete</i>
      </button>
    <% end %>
    <%= button_tag type: 'submit', class: 'btn' do %>
      <i class="material-icons">done</i>
    <% end %>
  </div>

  <%= render partial: "tags/deletion_modal", locals: { tag: tag } %>

<% end %>
