<%= form_with(model: [ current_group, tag ]) do |f| %>
  <div class="input-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="color-picker">
    <%= f.hidden_field :color_id, { id: 'tag_color_id' } %>
    <tag-color-picker default-color="<%= tag.color&.id %>"></tag-color-picker>
    <span class="error"><%= tag.errors[:color].first %></span>
  </div>

  <div class="actions right-align">
    <% if tag.persisted? %>
      <button class="btn-danger modal-trigger" @click="showModal('#deletion_confirmation_modal')" type="button">
        <%= t('actions.delete') %>
      </button>
    <% end %>
    <%= button_tag t('actions.create'), { type: 'submit', class: 'btn' } %>
  </div>

  <% if tag.persisted? %>
    <%= render "deletion_modal", tag: tag %>
  <% end %>

<% end %>
