<div id="browser-menu" class="hide-on-med-and-down">
  <ul>
    <li>
      <!-- logo -->
      <%= link_to (image_tag("logo.svg")), root_path, class: "browser-logo hide-on-med-and-down" %>
    </li>

    <% unless current_group.nil? %>
      <!-- Group name -->
      <li class="group-name"><b><%= current_group.name %></b></li>

      <!-- Join requests -->
      <% if current_group.join_requests_to_be_accepted.any? %>
        <%= link_to group_join_requests_path(current_group), class: 'btn-floating pulse' do %>
          <li>
            <i class="material-icons">person_add</i>
          </li>
        <% end %>
      <% end %>

      <!-- Presentations -->
      <li><%= link_to t('presentations.index'), group_presentations_path(current_group) %></li>

      <!-- Song -->
      <li><%= link_to t('songs.index'), group_songs_path(current_user.last_group) %></li>

      <!-- Membros -->
      <li><%= link_to t('groups.members'), group_path(current_group) %></li>
    <% end %>

    <li>
      <div class="vertical-separator"></div>
    </li>

    <!-- Groups -->
    <li><%= link_to t('groups.index'), groups_path %></li>
  </ul>

  <ul class="right">
    <li>
      <!-- Account menu button -->
      <a class="dropdown-trigger menu-item" href="#!" data-target="account_menu">
        <%= image_tag current_user.avatar.url, class: 'circle responsive-img nav-avatar' %>
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
  </ul>
</div>

<!-- Account menu -->
<ul id="account_menu" class="dropdown-content">

  <!-- My account -->
  <li><%= link_to t('registrations.edit'), edit_user_registration_path(current_user) %> </li>

  <li class="divider"></li>

  <!-- Logout -->
  <li><%= link_to t('users.sign_out'), destroy_user_session_path, method: :delete %></li>

</ul>
