<!-- Mobile menu button -->
<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<!-- Mobile menu -->
<div class="sidenav" id="mobile-menu">
  <div class="header">
    <%= link_to edit_user_registration_path(current_user), class: 'center-align' do %>
      <i><%= image_tag current_user.avatar.url, class: 'circle responsive-img nav-avatar' %></i>
      <%= current_user.full_name %>
    <% end %>

    <div class="divider"></div>

    <% unless current_group.nil? %>
      <h6><%= link_to current_group.name, group_path(current_group) %></h6>
    <% end %>
  </div>

  <ul>
    <% unless current_group.nil? %>
      <!-- Presentations -->
      <li>
        <%= link_to group_presentations_path(current_group) do %>
          <i class="fa fa-play center-align"></i>
          <%= t('presentations.index') %>
        <% end %>
      </li>

      <!-- Songs -->
      <li>
        <%= link_to group_songs_path(current_user.last_group) do %>
          <i class="fa fa-music center-align"></i>
          <%= t('songs.index') %>
        <% end %>
      </li>

      <!-- Tags -->
      <li>
        <%= link_to group_tags_path(current_group) do %>
          <i class="fa fa-tag center-align"></i>
          <%= t('tags.index')  %>
        <% end %>
      </li>
    <% end %>

    <!-- Groups -->
    <li>
      <%= link_to groups_path do %>
        <i class="fa fa-users center-align"></i>
        <%= t('groups.index')  %>
      <% end %>
    </li>

    <!-- Exit -->
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out center-align"></i>
        <%= t('users.sign_out')  %>
      <% end %>
    </li>
  </ul>

  <!-- logo -->
  <%= link_to (image_tag("logo.svg")), root_path, class: "mobile-logo" %>

</div>
