<!-- Mobile menu button -->
<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<!-- Mobile menu -->
<div class="sidenav" id="mobile-menu">
  <div class="header">
    <%= link_to edit_user_registration_path(current_user), class: 'center-align' do %>
      <i><%= image_tag current_user.avatar.url, class: 'circle responsive-img nav-avatar' %></i>
      <%= current_user.full_name %>
    <% end %>

    <div class="divider"></div>

    <% if current_group %>
      <h6><%= current_group.name %></h6>
    <% end %>
  </div>

  <ul>
    <% unless current_group.nil? %>
      <!-- Presentations -->
      <li> <%= link_to t('presentations.index'), group_presentations_path(current_group) %> </li>

      <!-- Songs -->
      <li> <%= link_to t('songs.index'), group_songs_path(current_user.last_group) %> </li>

      <!-- Membros -->
      <li><%= link_to t('groups.members'), group_path(current_group) %></li>
    <% end %>

    <!-- Groups -->
    <li> <%= link_to t('groups.index'), groups_path %> </li>

    <!-- Exit -->
    <li> <%= link_to t('users.sign_out'), destroy_user_session_path, method: :delete %> </li>
  </ul>

  <!-- logo -->
  <%= link_to (image_tag("logo.svg")), root_path, class: "mobile-logo" %>

</div>
